In [1]:
import random
import pandas as pd
import numpy as np

quantidade_duplas = 8

temas = np.arange(1, quantidade_duplas + 1)
seed = 97
random.seed(seed)
sorteio = random.sample(list(temas), len(temas))  

resultado = pd.DataFrame({
    'Dupla': np.arange(1, quantidade_duplas + 1),
    'Tema': sorteio
})

resultado

   Dupla  Tema
0      1     4
1      2     8
2      3     3
3      4     1
4      5     5
5      6     6
6      7     7
7      8     2